@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  padding: 0;
  margin: 0;

  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  .PrivateSwitchBase-input {
    border-color: red !important;
    color: red !important;
    background-color: red !important;
    accent-color: #9b59b6;
  }
}
.nav-link {
  text-decoration: none;
  box-sizing: border-box;
  padding: 14px;
  color: #808080;
  box-sizing: border-box;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  transition: ease-in;
  transition-duration: 100ms;

  &.active {
    transition-duration: 300ms;
    color: #f2f5f7;
    background-color: #1976d2;
    margin-left: 16px;
    background: rgb(0, 212, 225);
    background: linear-gradient(
      90deg,
      rgba(0, 212, 225, 1) 0%,
      rgba(25, 117, 208, 1) 100%
    );
  }
}

.tab-link {
  text-decoration: none;
  box-sizing: border-box;
  color: #808080;
  padding: 15px 20px;
  &:hover {
    color: #1a237e;
    background-color: #f2f5f7;
  }
  &.active {
    color: #1a237e;
    border-bottom: 2px solid #1a237e;
  }
}

.livestock-btn {
  display: flex;
  flex-direction: column;
  padding: 8px;
  align-items: center;
  background-color: #fff;
  border: 1px solid #d6d7db;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 120px;
  overflow: hidden;

  .hover {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
  }

  &:hover {
    .hover {
      background-color: #1975d015;
      border: 2px solid #1975d0;
    }
  }
  &.active {
    color: #fff;
    .hover {
      background-color: #1975d060;
      border: 2px solid #1975d0;
    }
  }

  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.08);
}

.MuiDataGrid-virtualScroller,
.MuiToolbar-root {
  border: 1px solid #eee;
  &.MuiToolbar-root {
    border-top: none;
  }
}
