/* Login.scss */
.background {
  width: 100%;
  height: 100%;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: right;
  align-items: center;

  // Animation to cycle through background images
  animation: slideShow 10s infinite ease-in; // Duration of 20s, looped infinitely
}

.tint {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgb(0, 0, 0);
  display: flex;
  opacity: 0.5;
}

.login-container {
  max-width: 600px;
  height: 100%;
  width: 100%; // Ensure the container doesn’t exceed the max-width
  padding: 1rem;
  // border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffffcb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Optional: Add a subtle shadow for better visibility
  display: flex; // Use Flexbox to center content
  justify-content: top; // Horizontally center the login container
  align-items: center; // Vertically center the login container
  flex-direction: column; // Stack children vertically
}

.logo-container {
  width: 190px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 15px; /* Space between text and logo */
  margin-top: 180px;
}

.logoname {
  display: flex;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}

.gradient-bg {
  background: rgb(0, 155, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 155, 255, 1) 0%,
    rgba(0, 123, 255, 1) 51%
  );
}

@keyframes slideShow {
  0%,
  100% {
    background-image: url("../../assets/images/bg-img1.jpg");
  }
  25% {
    background-image: url("../../assets/images/bg-img2.jpg"); // 2nd image
  }
  50% {
    background-image: url("../../assets/images/bg-img3.jpg"); // 3rd image
  }
  75% {
    background-image: url("../../assets/images/bg-img4.jpg"); // Loop back to 1st image
  }
}
